footer {
  width: 1600px;
  height: 593px;
  background: var(--Light-Background, #f7f2ea);
}

.footer-info {
  outline: 1px solid red;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.footer-wrap {
  display: inline-flex;
  padding: 100px 200px;
  outline: 1px solid green;
  gap: 213px;
  height: 360px;
}

.block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  outline: 1px solid red;
}

/* .block2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  outline: 1px solid red;
} */

.ul-block1 {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы по умолчанию */
  margin: 0;
  display: flex;
  width: 97px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: var(--Black, #151618);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.title-block {
  color: var(--Black, #151618);
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

li.basic-text-2 {
  outline: 1px solid blue;
  width: 155px;
}

.block-pay {
  gap: 200px;
  display: flex;
  justify-content: flex-start;
  padding-left: 200px;
}

.ul-block2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 97px;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  outline: 1px solid blue;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
  height: 312px;
}

.footer-span-text-1 {
  color: var(--Black, #151618);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  width: 269px;
  outline: 1px solid red;
}
.footer-span-text-2 {
  color: var(--Black, #151618);
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 129px;
  outline: 1px solid greenyellow;
}

.footer-text-wrap {
  outline: 1px solid red;
  display: flex;
}

.title-block {
  outline: 1px solid red;
}

.block-3 {
  margin-left: -142px;
  outline: 1px solid purple;
}

.label-and-contant-wrap {
  display: flex;
}

.label {
  margin-left: -23px;
  margin-top: -42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-1 {
  display: inline-flex;
  height: 60px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  margin-top: 29px;
  margin-left: 25px;
  color: var(--Black, #151618);
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.label-span {
  color: var(--Black, #151618);
  font-family: "IM FELL Great Primer SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.end-footer {
  color: var(--Black, #151618);
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contact-1-1 {
  gap: 1;
  width: 184px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.soc-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  align-items: flex-end;
}