body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  height: 142px;
  padding: 30px 200px;
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand-container {
  padding-left: 2px;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  width: 73.204px;
  height: 105px;
}

.navbar-brand-img {
  width: 68.408px;
  height: 85.035px;
}

.navbar-brand-text {
  width: 73.204px;
  height: 21.444px;
  color: var(--Black, #151618);
  font-family: "IM FELL Great Primer SC";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 71px;
  margin-bottom: 18px;
}

.navbar-menu li {
  color: var(--Black, #151618);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  padding: 3px;
  display: inline-block;
}

.navbar-menu li a {
  text-decoration: none;
  padding: 33px;
  padding-right: 30px;
  display: flex;
  height: 27px;
  align-items: center;
}

a.text-a {
  width: 50px;
}

.navbar-wrap {
  display: flex;
  flex-flow: nowrap;
}

.navbar-buttons-container {
  padding-bottom: 5px;
  margin: 5px;
  padding-top: 7px;
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.first-two-icons {
  display: flex;
  height: 29px;
  align-items: flex-start;
  gap: 20px;
}

.image-section {
  position: relative;
}

.image-section .image-text-1 {
  position: absolute;
  top: 50%;
  left: 39.3%;
  transform: translate(-50%, -50%);
  width: 789.507px;
  color: var(--White, #fff);
  font-family: Cormorant;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.image-text-2 {
  position: absolute;
  top: 78.9%;
  left: 31.7%;
  transform: translate(-50%, -50%);
  width: 557.651px;
  color: var(--White, #fff);
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tea-description-text {
  display: inline-block; /* Изменим на inline-block, чтобы текст мог быть выровнен по центру */
  padding: 9rem 28rem; /* Сохраним паддинг */
  width: 44rem; /* Сохраним ширину */
  text-align: center;
  color: var(--Black, #151618);
  font-family: Cormorant;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  position: relative; /* Добавим позиционирование для корректного отображения фона */
}

span#span-text {
  position: relative; /* Добавим позиционирование для псевдоэлемента */
}

span#span-text::before {
  content: "";
  position: absolute;
  top: 0.1rem; 
  left: -0.3rem; 
  right: -0.5rem; 
  bottom: -0.5rem;
  background: var(--Light-Background, #f7f2ea);
  opacity: 0.5;
  z-index: -1;
  width: 22.4375rem;
  height: 3.8125rem;
}
